<%- include('../partials/header') %>

<% if (user) { %>
<table id="list">
  <thead>
    <tr>
      <th><%= title %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% gigs.forEach(function(m) { %>
      <tr>
        <td><%= m.title %></td>
        <td><a href="/gigs/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
    <% } %>
  </table>
  
<%- include('../partials/footer') %>
