<%- include('../partials/header') %>

<section id="show-page">
  <div>Venue: </div>
  <div><%= gig.title %></div>
  <div>Time: </div>
  <div><%= gig.time %></div>
  <div>Date: </div>
  <div><%= gig.date %></div>


  
<%- include('../partials/footer') %>
