<%- include('../partials/header') %>

<section id="show-page">

  <div>Band/Artist: </div>
      <div><%= gig.title %></div>

  <div>Venue: </div>
      <div><%= gig.venue %></div>

  <div>Date: </div>
      <div><%= gig.date %></div>

  <div>Time: </div>
      <div><%= gig.time %></div>

  <div>Support: </div>
      <div><%= gig.support %></div>

  <div>Price: </div>
      <div><%= gig.price %></div>

      <div>Ticket Link: </div>
      <div><button onclick="window.open('<%= gig.ticketLink %>', '_blank')" class="ticket-button">TICKETS</button></div>

  <div>Event Info: </div>
      <div><%= gig.eventInfo %></div>


      
    </section>
    


    <form action="/gigs/<%= gig._id %>/comments" method="POST" style="display: inline;">

                 <input name="text">
                   <button type="submit">ADD COMMENT</button>
 
     <form action="/comments/<%= gig._id %>?_method=PUT" method="POST" style="display: inline;">
                 <button type="submit">UPDATE COMMENT</button>
     </form>
     
    <form action="/comments/<%= gig._id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit">DELETE COMMENT</button>
    </form>
    

<%- include('../partials/footer') %>
