<%- include('../partials/header') %>

<section id="show-page">

  <div>Band/Artist: </div>
      <div><%= gig.title %></div>

  <div>Venue: </div>
      <div><%= gig.venue %></div>

  <div>Date: </div>
      <div><%= gig.date %></div>

  <div>Time: </div>
      <div><%= gig.time %></div>

  <div>Support: </div>
      <div><%= gig.support %></div>

  <div>Price: </div>
      <div><%= gig.price %></div>

      <div>Ticket Link: </div>
      <div><button onclick="window.open('<%= gig.ticketLink %>', '_blank')" class="ticket-button">TICKETS</button></div>

  <div>Event Info: </div>
      <div><%= gig.eventInfo %></div>


      
    </section>

    <% if (user) { %>
        <form action="/gigs/<%= gig._id %>/comments" method="POST">
            <input type="text" name="title" hidden value="<%= gig._id %>_comment">
            <input name="description" type="text">
                <button type="submit" value="New Comment">ADD COMMENT</button>
            </form>
            <% } %>
            <% if (gig.comments.length) { %>
                <div style="display:flex; max-width: 50%; flex-direction: column;">
                <% gig.comments.forEach ((g) => { %>
                    <form action="/gigs/<%= gig._id %>/comments/<%= g._id %>/?_method=PUT" method="POST" style="margin: 0 !important;">
                        <input type="text" name="description" value="<%= g.description %>" style="max-width: 100%;">
                        <button type="submit" style="margin: 0 !important; min-width: 100%;" >UPDATE COMMENT</button>
                    </form>
                    <form action="/gigs/<%= gig._id %>/comments/<%= g._id %>/?_method=DELETE" method="POST" style="margin: 0 !important;">
                        <button type="submit" style="margin: 0 !important; min-width: 100%;">DELETE COMMENT</button>
                    </form>
                        <% }) %>
                    </div>
    <% } %>


<%- include('../partials/footer') %>
