<%- include('../partials/header') %>

<section id="show-page">

  <div>Band/Artist: </div>
      <div><%= gig.title %></div>

  <div>Venue: </div>
      <div><%= gig.venue %></div>

  <div>Date: </div>
      <div><%= gig.date %></div>

  <div>Time: </div>
      <div><%= gig.time %></div>

  <div>Support: </div>
      <div><%= gig.support %></div>

  <div>Price: </div>
      <div><%= gig.price %></div>

  <div>Ticket Link: </div>
      <div><a href="<%= gig.ticketLink %>" class="ticket-button" target="_blank">TICKETS</a></div>

  <div>Spotify Link: </div>
      <div><a href="<%= gig.spotifyLink %>" class="spotify-button" target="_blank">SPOTIFY</a></div>

  <div>Event Info: </div>
      <div><%= gig.eventInfo %></div>

</section>



<%- include('../partials/footer') %>
