<%- include('../partials/header') %>

<section id="show-page">

  <div>Band/Artist: </div>
      <div><%= gig.title %></div>

  <div>Venue: </div>
      <div><%= gig.venue %></div>

  <div>Date: </div>
      <div><%= gig.date %></div>

  <div>Time: </div>
      <div><%= gig.time %></div>

  <div>Support: </div>
      <div><%= gig.support %></div>

  <div>Price: </div>
      <div><%= gig.price %></div>

      <div>Ticket Link: </div>
      <div><button onclick="window.open('<%= gig.ticketLink %>', '_blank')" class="ticket-button">TICKETS</button></div>

  <div>Event Info: </div>
      <div><%= gig.eventInfo %></div>


      
    </section>
    
<!-- Using the RESTful route to send the book's id to the server -->
<form action="/gigs/<%= gig.id %>/comments" method="PUT">
    <!-- Be sure name attributes of inputs match the model properties -->
    <input name="text">
    <button type="submit">ADD COMMENT</button>
  </form>


<%- include('../partials/footer') %>
